{{ 'iron-forge-footer.css' | asset_url | stylesheet_tag }}
{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="iron-forge-footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <<img src="https://store.ironforgegymtx.com/cdn/shop/files/IFG_2_2.png" alt="">
            <p>Iron Forge Gym, with a steadfast commitment to excellence, is on
              a mission to become the premier fitness destination in Texas.
              Emphasizing a blend of cutting-edge equipment.</p>
              {%- render 'social-icons', class: 'footer__list-social' -%}
          </div>
          <div class="col-md-4">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="https://ironforgegymtx.com/about-us.html">About</a></li>
              <li><a href="https://ironforgegymtx.com/packages.html">Packages</a></li>
              <li><a href="https://ironforgegymtx.com/contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>